
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
 
    background: #E3F2FD;
}

.wrapper{
    width: 65vmin;
    height: 70vmin;
    background: #293447;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.game-details{
    color: #B8C6DC;
    display: flex;
    justify-content: space-between;
  font-weight: 500;
    padding: 20px 27px;
    font-size: 1.2rem;
 
}

.play-board{
    width: 100%;
    height: 100%;
    background: #212837;
    display: grid;
    grid-template:repeat(30, 1fr) / repeat(30, 1fr);
    

}
.play-board .food{
    background-color: #FF003D;
}

.play-board .head{
    background: #60CBFF;
}

